{% comment %} {% extends "master.html" %}

{% block title %}
    Grocery List - Edit Item
{% endblock title %}

{% block content %}
<div class="box">
   <div class="header">Grocery List</div>
        <form class="entry" id="entry" action="editlist/{{ myeditlist.id }}" method="post">
            {% csrf_token %}
            <input type="text" name="listname" value="{{ myeditlist.listname }}" id="name" class="input" required>
            <input type="submit" class="button" id="btn">
        </form>
        <div class="grocery-list">
            <div class="list" id="list">
                {% for x in mylist %}
                    {% if x.user_id == user.id %}
                        <div>
                            {{ x.listname }}                        
                        </div>
                        <div></div>
                        <div></div>
                    {% endif %}
                {% endfor %}                
            </div>
        </div>
    </div>
{% endblock  %} {% endcomment %}